:root {
  --Background: #363062;
  --Secondary:  #8654cc;
  --Third: #E9D5DA;
  --Borders: #E9D5DA;
  --TextColor: #fff;

  /* --Background: rgb(148, 170, 194);
  --Secondary:  rgb(190, 210, 233);
  --Third: rgb(163, 230, 241); */
  /* Previous Colors in case i hate new ones */
  --Accent: #111;
}

html {
  background-color: var(--Background);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

header {
  background-color: var(--Secondary);
  display: flex;
  justify-content: center;
}

p {
  flex: 1;
  flex-grow: 1;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  text-align: center;
  background-color: #b986ff;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  text-overline-color: black;
  font-family: "Rokkitt";
  font-size: 1.25em;
}

.optionButton {
  flex: 1;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  text-align: center;
  background-color: #b986ff;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  border-radius: 4px;
  text-overline-color: black;
  font-family: "Rokkitt";
  font-size: 1.25em;
}

body {
  /* background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #363062;
  width:100%;
  margin: 0%;
  opacity: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}


/*div {*/
/*  flex: 1;*/
/*  border-width: 2px;*/
/*  border-style: solid;*/
/*  background-color: var(--Secondary);*/
/*  border-color: var(--Borders);*/
/*  padding: 2%;*/
/*  !*box-shadow: 0.10em 0.20em var(--Accent);*!*/
/*}*/

main{
  background-color: var(--Background);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}


/* Dropdown button */




.coolheader{
  font-family: "Ultra";
  text-shadow:4px 4px var(--Accent);
  padding: 0.1em;
  margin: 0.2em;
  color: var(--TextColor);
  position: relative;
  font-size: 2.2em;

}

form {
  background-color: #b986ff;
  margin: 2%;
  padding: 1em;
  width: 80%;
  border-radius: 20px;
  /*height: 80%;*/
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.questionEntryForm {
  background-color: #b986ff;
  margin: 2%;
  padding: 1em;
  width: 80%;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
}

input {
  background-color: aliceblue;
  height: 60%;
  flex-grow: 1;
  margin: 2%;
  border-radius: 40px;
  text-align: center;
}

.break {
  flex-basis: 100%;
  height: 0px;
}

.questionSubmit {
  width: 20%;
  margin: 2%;
  color: white;
  background-color: #363062;
  border-radius: 4px;
  border: none;
}
.seenQuestionButton {
  width: 40%;
  margin: 2%;
  color: white;
  background-color: #b986ff;
  border-radius: 4px;
  border: none;
}

.seenQuestionButtonDivider {
  background-color: transparent;
  display: flex;
  flex-grow: 1;
  flex-flow: row;
  border-style: none;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  width: 30%;
}

.loginInput {
  flex: auto;
  margin: 2%;
  border-radius: 0px;
}

.loginBox {
  background-color: #b986ff;
  border-radius: 10px;
  margin: 2%;
  padding: 1em;
  width: 33%;
  height: 33%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.vote {
  background-color: #b986ff;
  color: orange;
  text-overline-color: black;
  border: none;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.voteDisplayBox {
  background-color: #9853f3;
  border-radius: 10px;
  margin: 2%;
  padding: 1em;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

a {
  margin: 5px;
  color: white;
  text-overline-color: black;

}

.optionsDivider {
  background-color: #b986ff;
  display: flex;
  flex-grow: 1;
  flex-flow: row;
  border-style: none;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  width: 80%;
}

.mainContentDiv {
  display: flex;
  flex-flow: column;
  border-style: none;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  width: 80%;
}