<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/WYR.css}" rel="stylesheet" />
    <title>What Would You Rather?</title>
</head>
<body>
<a th:href="@{/logout}"> logout </a>
<h1>What Would you Rather?</h1>
<div class="mainContentDiv" style="flex-flow: column">
    <form action="#" th:action="@{/DisplayOptions}" th:object="${currentQuestion}" method="post">
        <div class="optionsDivider">

            <input type="hidden" th:field="*{id}"/>

            <button type="submit" name="vote" value="optionA" th:text="'Option A:' + ${optionA}"></button>
            <button type="submit" name="vote" value="optionB" th:text="'Option B:' + ${optionB}"></button>

        </div>
    </form>
    <a th:href="@{/DisplayOptions}">Refresh Question</a>
    <a th:href="@{/}">Go to Entry</a>
</div>
</body>
</html>