<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/CSS/WYR.css}" rel="stylesheet" />
    <title>Title</title>
</head>
<body>
<h1 class="coolheader">Register a new User</h1>
<form action="#" th:action="@{/register}" th:object="${registerLoginForm}" method="post">

    <span th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}">Global error</span><br/>
    <input type="text" th:field="*{username}" placeholder="Username"/>
    <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>

    <input type="password" th:field="*{rawPassword}" placeholder="Password"/>
    <td th:if="${#fields.hasErrors('rawPassword')}" th:errors="*{rawPassword}">Password Error</td>

    <button type="submit">Submit</button>
    <a th:href="@{/}"> Login </a>
</form>
</body>
</html>