<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/WYR.css}" rel="stylesheet" />
    <title>Would You Rather Question Entry</title>
</head>
<body>
<h1 class="coolheader">What Would You Rather?</h1>
<form action="#" th:action="@{/wouldYouRatherEntry}" th:object="${wouldYouRatherForm}" method="post">
    <div class="optionsDivider">
        <input type="text" th:field="*{optionA}" placeholder="optionA"/>
        <input type="text" th:field="*{optionB}" placeholder="optionB"/>
    </div>
    <button type="submit">Submit</button>
    <a th:href="@{/DisplayOptions}"> Vote on what others are wondering!</a>
</form>
</body>
</html>